 /*--------------------*\
#main.css
\*--------------------*/

/**
*copyright 2023 NoviaTech@mayowaZedek
*/

/**
*table of content
*
*custorm properties.... .....Global Variables
*Reset ....................  Removed browser default style
*Typography................  Typography style
*RE-used ....................Re-used classes
*Preloader...................pre-load style
*Header......................Header style
*Footer......................Footer style 
*Media queries...............Responsive for all devices
*/

/*--------------------*\
#Component
\*--------------------*/
     


/*--------------------*\
#Header
\*--------------------*/
.header{background-color: transparent;}
.header.active {
    background-color: var(--white);}
 
 



/*--------------------*\
#Hero
\*--------------------*/

.hero{
    position: relative;
    background-color:var(--maximum-yellow-red_a10);
    padding-block-start: calc(var(--section-padding)+ 60px);
    text-align: center;
    overflow: hidden;
}
.hero::after{
    content:"";
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 70%;
    right: -75%;
    background-color: var(--maximum-yellow-red_a40);
    transform: rotate(-45deg);
    border-radius: var(--radius-50);
    z-index: -1;
}
.hero .container{
    display: grid;
    gap: 70px;
}
.hero-sbtitle{
    color: var(--jet);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    letter-spacing: 3px;
    margin-block-end: 20px;
}
.hero-text{
    margin-block: 25px;
}
    









/*--------------------*\
#Client
\*--------------------*/
 

/*--------------------*\
#About
\*--------------------*/
 
 

/*--------------------*\
#Header
\*--------------------*/


 
 


/*--------------------*\
#Footer
\*--------------------*/
