 /*--------------------*\
#main.css
\*--------------------*/

/**
*copyright 2023 NoviaTech@mayowaZedek
*/

/**
*table of content
*
*custorm properties.... .....Global Variables
*Reset ....................  Removed browser default style
*Typography................  Typography style
*RE-used ....................Re-used classes
*Preloader...................pre-load style
*Header......................Header style
*Footer......................Footer style 
*Media queries...............Responsive for all devices
*/

/*--------------------*\
#Component
\*--------------------*/

@import url(./component/btn.css);
@import url(./component/slider.css);

     


/*--------------------*\
#Header
\*--------------------*/
.header{background-color: transparent;}
.header.active {
    background-color: var(--white);}
 
 



/*--------------------*\
#Hero
\*--------------------*/

.hero{
    position: relative;
    background-color:var(--maximum-yellow-red_a10);
    padding-block-start: calc(var(--section-padding)+ 60px);
    text-align: center;
    overflow: hidden;
}
.hero::after{
    content:"";
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 70%;
    right: -75%;
    background-color: var(--maximum-yellow-red_a40);
    transform: rotate(-45deg);
    border-radius: var(--radius-50);
    z-index: -1;
}
.hero .container{
    display: grid;
    gap: 70px;
}
.hero-sbtitle{
    color: var(--jet);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    letter-spacing: 3px;
    margin-block-end: 20px;
}
.hero-text{
    margin-block: 25px;
}
.hero .btn{
    margin-inline:auto ;
}
.hero-banner{
    max-width: max-content;
    margin-inline: auto;
}
    









/*--------------------*\
#Client
\*--------------------*/

.client{
    background-color: var(--jet) ;
    padding-block: 30px;
}
 
.client .slider-item{
    min-width: calc(50% - 15px);
}
.client .slider::-webkit-scrollbar{display: none;}


/*--------------------*\
#About
\*--------------------*/

.about .container {
    display: grid;
    gap: 50px;
}
.about .section-text{
    margin-block: 25px 16px;
}
.about-list{
   display: flex;
   align-items: center; gap: 25px; 
}
.about-list .list-text{
    color: var(--jet);
    font-weight: var(--fw-500);
}
.about-list .strong{
    color: var(--orange-red);
    display: block;
}

.about .wrapper{
    margin-block-start: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 25px;
}
 
 

/*--------------------*\
#Header
\*--------------------*/


 
 


/*--------------------*\
#Footer
\*--------------------*/
